<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            class="p-b-0"
            placeholder="Search here..." (keyup)="applyFilter($event)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div
        class="col-sm-8 text-end d-flex align-items-center justify-content-end"
      >
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Contact
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div
    class="col-sm-6 col-lg-4"
    *ngFor="let contact of contacts"
  >
    <mat-card class="cardWithShadow">
      <mat-card-content class="text-center p-24">
        <img
          src="{{ contact.contactimg }}"
          class="rounded-circle border p-5"
          width="100"
        />
        <h4 mat-card-title class="card-title m-t-16 m-b-0">
          {{ contact.contactname }}
        </h4>
        <span class="f-s-12">{{ contact.contactpost }}</span>
        <div class="m-t-20">
          <button mat-flat-button class="m-r-8" color="primary">Chat</button>
          <button mat-flat-button color="accent">Follow</button>
        </div>
        <div class="m-t-20">
          <span class="f-s-14">
            {{ contact.contactadd }}
            <br />
            <br />
            Mo: {{ contact.contactno }}</span
          >
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-4 p-y-12">
          <a
            href="#"
            class="mat-subtitle-2 text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center"
          >
            <i-tabler name="brand-instagram" class="icon-18 m-r-4"></i-tabler>

            {{ contact.contactinstagram }}
          </a>
        </div>
        <div class="col-4 p-y-12">
          <a
            href="#"
            class="mat-subtitle-2 text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center"
          >
            <i-tabler name="brand-linkedin" class="icon-18 m-r-4"></i-tabler>

            {{ contact.contactlinkedin }}
          </a>
        </div>
        <div class="col-4 p-y-12">
          <a
            href="#"
            class="mat-subtitle-2 text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center"
          >
            <i-tabler name="brand-facebook" class="icon-18 m-r-4"></i-tabler>

            {{ contact.contactfacebook }}
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
