<mat-card class="course-app cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Category</mat-label>
          <mat-select
            required
            [value]="selectedCategory"
            (selectionChange)="ddlChange($event)"
          >
            <mat-option value="All" selected>All</mat-option>
            <mat-option value="Web">Web</mat-option>
            <mat-option value="Android">Android</mat-option>
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="Design">Design</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div class="col-sm-6 col-lg-4" *ngFor="let course of courseList">
    <mat-card class="cardWithShadow overflow-hidden">
      <mat-card-header
        class="course-header bg-{{
          course.courseType
        }} d-flex justify-content-between"
      >
        <mat-card-title class="m-b-0 f-s-16">
          {{ course.courseFramework }}
        </mat-card-title>
        <span class="d-flex align-items-center gap-4"><i-tabler name="clock" class="icon-16 d-flex"></i-tabler>{{ course.Time }}</span>
      </mat-card-header>
      <mat-card-content class="text-center p-y-24">
        <h3 class="m-b-4 mat-subtitle-2 f-s-16 f-w-600">
          {{ course.courseName }}
        </h3>
        <span class="f-s-12">{{ course.Update }}</span>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="text-center p-y-8">
        <!-- <button mat-button>Start</button> -->
        <a
          mat-button
          [routerLink]="['/apps/courses/coursesdetail/', course.Id]"
          class="w-100"
        >
          START
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
