<div class="invoiceTab">
    <div class="GenerateInvoice">
        <div class="invoiceNumber" *ngIf="invoiceForm.get('party')?.value">
            <h3>{{'addinvoice.Invoice' | translate}} :- {{maxInvoiceNumber}}</h3>
        </div>
        <button *ngIf="data.length > 0" mat-flat-button color="primary" (click)="generateInvoice()"
            routerLink="/master/invoiceview"><i-tabler name="eye" class="icon-18 d-flex"></i-tabler></button>
        <!-- <button *ngIf="data.length > 0" mat-flat-button color="primary" style="margin-left: 10px;" (click)="submitInvoice()"><i-tabler name="printer" class="icon-18  d-flex"></i-tabler></button> -->
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
        <form [formGroup]="invoiceForm">

            <mat-tab label="{{'addinvoice.PartyDetails' | translate}}">
                <mat-card class="cardWithShadow m-15">
                    <mat-card-content class="p-24">
                        <div class="row">
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.SelectParty' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <mat-select value="no" formControlName="party"
                                        placeholder="{{'addinvoice.SelectParty' | translate}}"
                                        (selectionChange)="seletedParty($event)">
                                        <mat-option *ngFor="let item of partyList"
                                            [value]="item">{{item.partyName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.SelectFirm' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <mat-select value="no" formControlName="firm"
                                        placeholder="{{'addinvoice.SelectFirm' | translate}}"
                                        (selectionChange)="seletedFirm($event)">
                                        <mat-option *ngFor="let item of firmList"
                                            [value]="item">{{item.header}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.Discount(%)' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput formControlName="discount"
                                        placeholder="{{'addinvoice.EnterDiscount%' | translate}}" min="0" max="100" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('discount')?.hasError('required') && invoiceForm.get('discount')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.Discountisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('discount')?.hasError('min') && invoiceForm.get('discount')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.Discountmustbeatleast0%' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('discount')?.hasError('max') && invoiceForm.get('discount')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.Discountmustbeatmost100%' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.SelectDate' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input matInput [matDatepicker]="picker" formControlName="date" required />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                            </div>
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.SGST' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput required formControlName="sGST"
                                        placeholder="{{'addinvoice.EnterSGST' | translate}}" min="0" max="100" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('sGST')?.hasError('required') && invoiceForm.get('sGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.SGSTisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('sGST')?.hasError('min') && invoiceForm.get('sGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.SGSTmustbeatleast0%' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('sGST')?.hasError('max') && invoiceForm.get('sGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.SGSTmustbeatmost100%' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-1 d-block">{{'addinvoice.CGST' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput required formControlName="cGST"
                                        placeholder="{{'addinvoice.EnterCGST' | translate}}" min="0" max="100" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('cGST')?.hasError('required') && invoiceForm.get('cGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.CGSTisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('cGST')?.hasError('min') && invoiceForm.get('cGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.CGSTmustbeatleast0%' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('cGST')?.hasError('max') && invoiceForm.get('cGST')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.CGSTmustbeatmost100%' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="outline" class="w-100 m-t-10">
                                    <mat-label>Payment Day's</mat-label>
                                    <input type="number" matInput required (ngModelChange)="paymentDaysChange($event)"
                                        formControlName="paymentDays" placeholder="Enter discount ratio (%)" min="0">
                                </mat-form-field>
                            </div>
                            <div class="col-4 payment-date">
                                Payment due date is &nbsp;<b>{{ paymentDays | date : "dd-MM-yyyy" }}</b>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12 text-end d-flex justify-content-end  goToNextTab">
                                <button mat-flat-button (click)="goToNextTab()" color="primary">{{'addinvoice.Next' |
                                    translate}}</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="{{'addinvoice.ProductEntry' | translate}}">
                <mat-card class="cardWithShadow m-15">
                    <mat-card-content class="p-24">
                        <div class="row">
                            <div class="col-2">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{'addinvoice.PoNumber' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput formControlName="poNumber"
                                        placeholder="{{'addinvoice.PoNumber' | translate}}" min="0" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('poNumber')?.hasError('required') && invoiceForm.get('poNumber')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.poNumberisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('poNumber')?.hasError('min') && invoiceForm.get('poNumber')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.poNumbermustbeatleast0' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{'addinvoice.SelectProduct' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <mat-select value="no" formControlName="product"
                                        placeholder="{{'addinvoice.SelectProduct' | translate}}">
                                        <mat-option [value]="item"
                                            *ngFor="let item of productList">{{item.productName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{'addinvoice.Price' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput formControlName="price"
                                        placeholder="{{'addinvoice.EnterPrice' | translate}}" min="0" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('price')?.hasError('required') && invoiceForm.get('price')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.priceisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('price')?.hasError('min') && invoiceForm.get('price')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.pricemustbeatleast0' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{'addinvoice.Qty' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput formControlName="totalitem"
                                        placeholder="{{'addinvoice.EnterQty' | translate}}" min="0" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('totalitem')?.hasError('required') && invoiceForm.get('totalitem')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.qtyisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('totalitem')?.hasError('min') && invoiceForm.get('totalitem')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.qtymustbeatleast0' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{'addinvoice.DefectiveItem' |
                                    translate}}<span class="required">
                                        *</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 m-t-8">
                                    <input type="number" matInput formControlName="defectiveitem"
                                        placeholder="{{'addinvoice.DefectiveItem' | translate}}" min="0" />
                                    <mat-error
                                        *ngIf="invoiceForm.get('defectiveitem')?.hasError('required') && invoiceForm.get('defectiveitem')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.Defectiveitemisrequired' | translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="invoiceForm.get('defectiveitem')?.hasError('min') && invoiceForm.get('defectiveitem')?.touched"
                                        class="error-message error-color">
                                        {{'addinvoiceerror.Defectiveitemmustbeatleast0' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-1 productButton">
                                <mat-dialog-actions>
                                    <button mat-flat-button [disabled]="!invoiceForm.valid" *ngIf="!editMode"
                                        color="primary" (click)="addData()">{{'addinvoice.Add' | translate}}</button>
                                    <button mat-flat-button [disabled]="!invoiceForm.valid" *ngIf="editMode"
                                        color="primary" (click)="updateData()">{{'addinvoice.Edit' |
                                        translate}}</button>
                                </mat-dialog-actions>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="table-responsive cardWithShadow m-15">
                    <table mat-table [dataSource]="addinvoiceDataSource" class="w-100">
                        <ng-container matColumnDef="#">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{'addinvoice.#' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                        </ng-container>
                        <ng-container matColumnDef="firm">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{'addinvoice.FirmName' |
                                translate}}</th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.firm.header }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Party">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.PartyName' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.party.partyName }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="PoNumber">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Po' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.poNumber | number:'1.0-2' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Product' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.product.productName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalItem">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Qty' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.totalitem | number:'1.0-2' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Price">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Price' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.price | number:'1.0-2' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Defectiveitem">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Defectiveitem' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.defectiveitem | number:'1.0-2' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="FinalAmount">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Amount' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.finalAmount | number:'1.0-2' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                {{'addinvoice.Action' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="action-link">
                                <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="edit(element)"
                                        class="icon-18"></i-tabler></a>
                                <a class="m-r-10 cursor-pointer">
                                    <i-tabler name="trash" (click)="deletedata(element.id)" class="icon-18"></i-tabler>
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                No record found
                            </td>
                        </tr>
                    </table>
                    <div style="position: relative;">
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-tab>
        </form>
    </mat-tab-group>
</div>