.table-responsive{
    table{
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    }
}
.productButton{
    display: flex;
    align-items: center;
}


.invoiceTab{
    position: relative;
}
.invoiceNumber{
    padding-right: 20px;
}
.GenerateInvoice{
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: absolute;
    z-index: 100;
    right: 4%;
}
::ng-deep .mat-mdc-tab-header{
    max-width: 50% !important;
}
::ng-deep .mat-mdc-tab.mdc-tab{
    font-weight: 600;
}