.detail-bg {
  &.Angular {
    background-color: #fc4b6c;
  }

  &.Web {
    background-color: #1e88e5;
  }

  &.Design {
    background-color: #26c6da;
  }

  &.Android {
    background-color: #ffb22b;
  }
}
