
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between">
        <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100 hide-hint">
                <input matInput placeholder="Search.." (keyup)="applyFilter($any($event.target).value)" />
                <mat-icon matSuffix>
                  <i-tabler name="search" class="icon-20"></i-tabler>
                </mat-icon>
            </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100  hide-hint">
            <mat-label>Select Invoice Date</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateInvoiceListForm">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker (closed)="filterDate()"></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

<mat-card class="cardWithShadow" >
    <mat-card-content class="p-24">
      <div class="table-responsive">
        <table mat-table [dataSource]="purchaseDataSource" class="w-100">
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">P No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ element.productUniqueNumber }}</td>
          </ng-container>
  
          <ng-container matColumnDef="ProductName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{getProductName(element.productid)}}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Customer Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                   {{element.customerName}}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="customerNumber">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Customer Number</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                   {{element.customerNumber}}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="shellAmount">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Shell Price</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                   {{element.shellAmount}} / <span class="text-success">{{element.finalAmount}}</span> 
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" style="text-align: center;" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No record found
            </td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>