<div class="row">
  <div class="col-lg-6">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">Radialbar</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <apx-chart
          [series]="radialbarChartOptions.series"
          [chart]="radialbarChartOptions.chart"
          [dataLabels]="radialbarChartOptions.dataLabels"
          [plotOptions]="radialbarChartOptions.plotOptions"
          [legend]="radialbarChartOptions.legend"
          [colors]="radialbarChartOptions.colors"
          [tooltip]="radialbarChartOptions.tooltip"
        >
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">Radar </mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <apx-chart
          [series]="radarChartOptions.series"
          [chart]="radarChartOptions.chart"
          [dataLabels]="radarChartOptions.dataLabels"
          [plotOptions]="radarChartOptions.plotOptions"
          [legend]="radarChartOptions.legend"
          [colors]="radarChartOptions.colors"
          [tooltip]="radarChartOptions.tooltip"
        >
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
