<h2 mat-dialog-title class="m-b-24 b-b-1 p-b-20">{{'actions.' + action | translate}} <ng-container *ngIf="!local_data.isPurchase">{{'productMasterdialog.Product' | translate}}</ng-container></h2>
<mat-dialog-content class="mat-typography" style="max-width: 600px" *ngIf="action !== 'Delete'; else elseTemplate" >
  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput required formControlName="productName" placeholder="{{'productMasterdialog.PartyName' | translate}}" />
          <mat-hint *ngIf="productForm.get('productName')?.hasError('required') && productForm.get('productName')?.touched"
            class="error-message error-color">
            {{'productMasterdialogerror.Productnameisrequired' | translate}}
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="p-24 justify-content-end">
      <button mat-stroked-button color="warn" mat-dialog-close>{{'productMasterdialog.Cancel' | translate}}</button>
      <button mat-flat-button [mat-dialog-close]="true" [disabled]="!productForm.valid" color="primary" (click)="doAction();">
        {{'actions.' + action | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>{{'productMasterdialog.Suretodelete' | translate}}<span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">
      {{'actions.' + action | translate}}
    </button>
    <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">{{'productMasterdialog.Cancel' | translate}}</button>
  </div>
</ng-template>