<div class="row">
  <!-- column -->
  <div class="col-lg-8">
    <!-- card -->
    <mat-card class="shadow-none bg-light-primary overflow-hidden">
      <mat-card-content class="p-32 p-b-0">
        <div class="row justify-content-between">
          <div class="col-sm-6">
            <mat-card-title>Welcome back Mathew!</mat-card-title>
            <mat-card-subtitle class="mat-body-1 m-t-16 lh-24 m-b-24"
              >You have earned 54% more than last month which is great
              thing.</mat-card-subtitle
            >
            <button mat-flat-button color="primary">Check</button>
          </div>
          <div class="col-sm-5">
            <img
              src="assets/images/backgrounds/welcome-bg2.png"
              alt="welcome"
              width="300"
              class="welcome-img"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- card -->
    <mat-card class="shadow-none bg-light-accent overflow-hidden">
      <mat-card-content class="p-32 p-b-0">
        <div class="row justify-content-between">
          <div class="col-sm-6">
            <mat-card-title>Track your every Transaction Easily</mat-card-title>
            <mat-card-subtitle class="mat-body-1 m-t-16 lh-24 m-b-24"
              >Track and record your every income and expence easily to control
              your balance</mat-card-subtitle
            >
            <button mat-flat-button color="accent" class="m-b-24">
              Download
            </button>
          </div>
          <div class="col-sm-5">
            <img
              src="assets/images/backgrounds/login-bg.svg"
              alt="welcome"
              width="240"
              class="welcome-img"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- card -->
    <div class="row">
      <div class="col-sm-6">
        <mat-card class="cardWithShadow">
          <mat-card-content class="p-y-24 text-center">
            <img
              src="/assets/images/backgrounds/maintenance2.svg"
              alt="img"
              width="200"
            />

            <mat-card-title class="m-b-0"
              >Oops something went wrong!</mat-card-title
            >
            <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
              >Trying again to bypasses these <br />
              temporary error.</mat-card-subtitle
            >
            <button mat-flat-button color="warn">Retry</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-6">
        <mat-card class="cardWithShadow">
          <mat-card-content class="p-y-24 text-center">
            <img
              src="/assets/images/products/empty-shopping-cart.svg"
              alt="img"
              width="200"
            />

            <mat-card-title class="m-b-0"
              >Oop, Your cart is empty!</mat-card-title
            >
            <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
              >Get back to shopping and get <br />
              rewards from it.</mat-card-subtitle
            >
            <button mat-flat-button color="primary">Go for shopping</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- column -->
  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-y-24 text-center">
        <span class="text-uppercase f-s-14 d-block text-center m-b-24"
          >Level Up</span
        >
        <img src="/assets/images/backgrounds/gold.png" alt="img" width="150" />

        <mat-card-title class="m-b-0"
          >You reach all Notifications</mat-card-title
        >
        <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
          >Congratulations, <br />Tap to continue next task.</mat-card-subtitle
        >
        <button mat-flat-button color="primary">Yes, Got it!</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="cardWithShadow">
      <mat-card-content class="p-y-24 text-center">
        <h5 class="f-w-600 f-s-18 m-b-24 m-t-0">Mutual Friend Revealed</h5>
        <img
          src="/assets/images/profile/user-1.jpg"
          alt="img"
          width="140"
          class="rounded-circle"
        />

        <mat-card-title class="m-b-0 m-t-24">Tommoie Henderson</mat-card-title>
        <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
          >Accept the request and <br />type a message</mat-card-subtitle
        >
        <button mat-flat-button color="primary" class="m-r-8">Accept</button>
        <button mat-stroked-button color="warn">Remove</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
