<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <button mat-raised-button>Basic</button>
        </div>
        <div class="col-lg-4">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="col-lg-4">
          <button mat-raised-button color="accent">Accent</button>
        </div>
        <div class="col-lg-4">
          <button mat-raised-button color="warn">Warn</button>
        </div>
        <div class="col-lg-4">
          <button mat-raised-button disabled>Disabled</button>
        </div>
        <div class="col-lg-4">
          <a mat-raised-button href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </div>
      <p class="f-s-10">test</p>
      <p class="f-s-20">test</p>
    </div>
  </mat-card-content>
</mat-card>
