<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-8 col-xl-9 bg-gredient p-0">
      <div class="p-24 h-100">
        <a
          [routerLink]="['/dashboards/dashboard1']"
          *ngIf="options.theme === 'light'"
        >
          <img
            src="./assets/images/logos/dark-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        <a
          [routerLink]="['/dashboards/dashboard1']"
          *ngIf="options.theme === 'dark'"
        >
          <img
            src="./assets/images/logos/light-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/login-bg.svg"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-3 p-0 d-flex justify-content-center">
      <div class="p-32 d-flex align-items-start align-items-lg-center h-100 max-width-form justify-content-center">
        <div>
          <h4 class="f-w-700 f-s-20 m-0">Two Step Verification</h4>
          <span class="f-s-14 d-block mat-body-1 m-t-24"
            >We sent a verification code to your mobile. Enter the code from the
            mobile in the field below.</span
          >
          <span class="f-w-600 d-block m-t-16">******1234</span>

          <form class="m-t-30 p-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Type your 6 digits security code</mat-label
            >
            <div class="d-flex align-items-center"></div>
            <div class="row custom-row">
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
            </div>

            <a [routerLink]="['/dashboards/dashboard1']" mat-flat-button color="primary" class="w-100">
              Verify My Account
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 d-block f-s-14 m-t-24"
            >Didn't get the code?
            <a
              [routerLink]="['/dashboards/dashboard1']"
              class="text-decoration-none text-primary f-w-500"
              >Resend</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
