.plan-title {
  font-size: 50px;
  margin-top: 40px;
  line-height: 50px;
  font-weight: 600;
}

.dollar-sign {
  margin-top: 22px;
  margin-right: 8px;
}

.per-month {
  margin-top: 45px;
  margin-left: 12px;
}

.popular-badge {
  position: absolute;
  right: 16px;
}
