<mat-card class="cardWithShadow overflow-hidden">
  <!-- ------------------------------------------------------ -->
  <!-- Toggle mobile -->
  <!-- ------------------------------------------------------ -->
  <mat-card-header class="bg-primary text-white p-10 d-block d-lg-none">
    <mat-card-title class="m-b-0">
      <div class="d-flex align-items-center">
        <button (click)="mailnav.toggle()" mat-icon-button>
          <mat-icon>short_text</mat-icon>
        </button>
        <div class="mat-subheading-1 m-b-0 m-l-16">Inbox</div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <!-- ------------------------------------------------------ -->
  <!-- Desktop App -->
  <!-- ------------------------------------------------------ -->
  <mat-sidenav-container
    class="email-box"
    style="height: calc(100vh - 182px)"
    [ngClass]="{
      'side-panel-opened': sidePanelOpened,
      'side-panel-closed': !sidePanelOpened
    }"
  >
    <!-- ------------------------------------------------------ -->
    <!-- Sidebar Email -->
    <!-- ------------------------------------------------------ -->
    <mat-sidenav
      #mailnav
      [mode]="isOver() ? 'over' : 'side'"
      [opened]="!isOver()"
      (open)="sidePanelOpened = true"
      (close)="sidePanelOpened = false"
      class="mail-sidebar"
    >
      <ng-scrollbar
        style="height: calc(100% - 10px)"
        class="position-relative"
      >
        <div class="p-16 p-b-0">
          <button
            mat-flat-button
            (click)="openDialog()"
            color="primary"
            class="w-100 btn-block"
          >
            Compose
          </button>
        </div>
        <div class="p-16">
          <div
            *ngFor="let mail of mailboxes"
            (click)="mailboxesChanged(mail.name)"
          >
            <div
              class="d-flex align-items-center inbox-list rounded p-16 cursor-pointer"
              [class.bg-light-primary]="mail.active"
            >
              <i-tabler
                name="{{ mail.icon }}"
                class="m-r-12 icon-18"
              ></i-tabler>
              <span class="f-w-400 f-s-14">{{ mail.name }}</span>
              <!-- <div class="m-l-auto">
						<span *ngIf="mail.name === 'Inbox'">
						  <span
						    class="p-x-8 f-s-14 p-y-4 rounded bg-primary text-white"
						  >
						    {{ ms.inboxCount }}
						  </span>
						</span>
						<span *ngIf="mail.name === 'Draft'">
						  <span
						    class="p-x-8 f-s-14 p-y-4 rounded bg-warning text-white"
						  >
						    {{ ms.draftCount }}
						  </span>
						</span>
						<span *ngIf="mail.name === 'Spam'">
						  <span class="p-x-8 f-s-14 p-y-4 rounded bg-error text-white">
						    {{ ms.spamCount }}
						  </span>
						</span>
						</div> -->
            </div>
          </div>
        </div>
        <h5 class="m-0 p-t-16 p-x-32 mat-subtitle-1 f-s-14 f-w-600 b-t-1">
          Sort By
        </h5>
        <div class="p-16">
          <div *ngFor="let fil of filters" (click)="filtersClick(fil.name)">
            <div
              class="d-flex align-items-center inbox-list p-16 rounded cursor-pointer"
              [class.bg-light-primary]="fil.active"
            >
              <i-tabler name="{{ fil.icon }}" class="m-r-12 icon-18"></i-tabler>
              <span class="f-w-400 f-s-14">{{ fil.name }}</span>
            </div>
          </div>
        </div>
        <h5 class="m-0 p-t-16 p-x-32 mat-subtitle-1 f-s-14 f-w-600 b-t-1">
          Labels
        </h5>
        <div class="p-16">
          <div *ngFor="let lab of labels" (click)="labelChange(lab.name)">
            <div
              class="d-flex align-items-center inbox-list p-16 rounded cursor-pointer"
              [class.bg-light-primary]="lab.active"
            >
              <i-tabler
                [style.color]="lab.color"
                name="{{ lab.icon }}"
                class="m-r-12 icon-18"
              ></i-tabler>
              <span class="f-w-400 f-s-14">{{ lab.name }}</span>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </mat-sidenav>
    <!-- ------------------------------------------------------ -->
    <!-- Email Listing and Details-->
    <!-- ------------------------------------------------------ -->
    <div class="p-x-15 w-100 h-100">
      <div class="row h-100">
        <!-- ------------------------------------------------------ -->
        <!-- Listing -->
        <!-- ------------------------------------------------------ -->
        <div class="col-lg-4 b-r-1 p-0">
          <div class="p-x-20 p-y-4 d-flex align-items-center">
            <h5 class="f-w-500 mat-subtitle-1 f-s-16 m-0">{{ ms.topLable }}</h5>
            <div class="m-l-auto">
              <pagination-controls
                (pageChange)="p = $event"
                previousLabel=""
                nextLabel=""
                class="mail-pagination"
              >
              </pagination-controls>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="position-relative">
            <div
              *ngFor="
                let mail of ms.mailList
                  | paginate : { itemsPerPage: 6, currentPage: p };
                let i = index
              "
              (click)="mailSelected(mail)"
            >
              <div
                class="mail-list p-y-20 p-x-16 p-l-10 cursor-pointer"
                [class.bg-light-primary]="mail.MailId == selectedIndex"
              >
                <div class="d-flex align-items-start w-100">
                  <mat-checkbox></mat-checkbox>
                  <div class="m-l-10 w-100">
                    <div>
                      <div class="d-flex align-items-center w-100">
                        <h5 class="m-0 f-w-600 mat-subtitle-1 f-s-16">
                          {{ ms.users[i].name }}
                        </h5>
                        <span
                          *ngIf="mail.label[0] == 'Accounts'"
                          class="m-l-auto"
                        >
                          <span
                            class="bg-warning rounded-pill p-x-8 f-w-600 text-white f-s-12 p-y-4"
                          >
                            {{ mail.label[0] }}</span
                          >
                        </span>
                        <span
                          *ngIf="mail.label[0] == 'Personal'"
                          class="m-l-auto"
                        >
                          <span
                            class="bg-primary rounded-pill p-x-8 f-w-600 text-white f-s-12 p-y-4"
                          >
                            {{ mail.label[0] }}</span
                          >
                        </span>
                        <span *ngIf="mail.label[0] == 'Work'" class="m-l-auto">
                          <span
                            class="bg-accent rounded-pill p-x-8 f-w-600 text-white f-s-12 p-y-4"
                          >
                            {{ mail.label[0] }}</span
                          >
                        </span>
                        <span
                          *ngIf="mail.label[0] == 'Payments'"
                          class="m-l-auto"
                        >
                          <span
                            class="bg-error rounded-pill p-x-8 f-w-600 text-white f-s-12 p-y-4"
                          >
                            {{ mail.label[0] }}</span
                          >
                        </span>
                      </div>
                      <span class="mat-body-1">
                        {{ mail.Subject | slice : 0 : 24 }}..
                      </span>
                      <!-- icons -->
                      <div class="d-flex justify-content-center m-t-8">
                        <!-- star icon -->
                        <span
                          *ngIf="
                            mail.filter.indexOf('Star') !== -1;
                            else staricon
                          "
                          class="m-r-8 d-flex"
                        >
                          <i-tabler
                            name="star"
                            class="icon-18 fill-warning"
                          ></i-tabler>
                        </span>
                        <ng-template #staricon>
                          <i-tabler
                            name="star"
                            class="icon-18 m-r-8"
                          ></i-tabler>
                        </ng-template>
                        <!-- inform icon -->
                        <span
                          *ngIf="
                            mail.filter.indexOf('Important') !== -1;
                            else tagicon
                          "
                          class="d-flex"
                        >
                          <i-tabler
                            name="alert-circle-filled"
                            class="icon-18 text-error"
                          ></i-tabler>
                        </span>
                        <ng-template #tagicon>
                          <i-tabler
                            name="alert-circle"
                            class="icon-18"
                          ></i-tabler>
                        </ng-template>
                        <div class="m-l-auto text-end">
                          <span class="f-s-12 text-nowrap">{{
                            mail.date | date : "dd-MMM"
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
        <!-- ------------------------------------------------------ -->
        <!-- Details of Email -->
        <!-- ------------------------------------------------------ -->
        <div
          class="col-lg-8 detail-part p-0"
          [class.movetodetail]="ms.addClass"
        >
          <div *ngIf="ms.selectedMail === null" class="h-100 welcome-app">
            <div
              class="d-flex align-items-center justify-content-center h-100 w-100"
            >
              <div>
                <h3 class="mat-subtitle-1 f-w-600">Please Select a Mail</h3>
                <img
                  src="/assets/images/breadcrumb/emailSv.png"
                  width="250px"
                />
              </div>
            </div>
          </div>
          <div *ngIf="ms.selectedMail !== null" class="w-100">
            <app-maildetail></app-maildetail>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</mat-card>
