<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Candlestick Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <apx-chart
          [series]="candlestickChartOptions.series"
          [chart]="candlestickChartOptions.chart"
          [xaxis]="candlestickChartOptions.xaxis"
          [yaxis]="candlestickChartOptions.yaxis"
          [grid]="candlestickChartOptions.grid"
          [stroke]="candlestickChartOptions.stroke"
          [tooltip]="candlestickChartOptions.tooltip"
          [plotOptions]="candlestickChartOptions.plotOptions"
          [dataLabels]="candlestickChartOptions.dataLabels"
          [legend]="candlestickChartOptions.legend"
          [colors]="candlestickChartOptions.colors"
          [markers]="candlestickChartOptions.markers"
        >
        </apx-chart>
    </mat-card-content>
  </mat-card>
  