<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Area Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <apx-chart
        [series]="lineChartOptions.series"
        [chart]="lineChartOptions.chart"
        [xaxis]="lineChartOptions.xaxis"
        [yaxis]="lineChartOptions.yaxis"
        [grid]="lineChartOptions.grid"
        [stroke]="lineChartOptions.stroke"
        [tooltip]="lineChartOptions.tooltip"
        [dataLabels]="lineChartOptions.dataLabels"
        [legend]="lineChartOptions.legend"
        [colors]="lineChartOptions.colors"
        [markers]="lineChartOptions.markers"
      >
      </apx-chart>
    </mat-card-content>
  </mat-card>
  