<h2 mat-dialog-title class="m-b-24">Add Firm</h2>
<mat-dialog-content class="mat-typography"  *ngIf="action !== 'Delete'; else elseTemplate">
  <form [formGroup]="firmForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput required formControlName="header" placeholder="Enter header" />
          <mat-hint *ngIf="firmForm.get('header')?.hasError('required') && firmForm.get('header')?.touched"
            class="error-message error-color">
            header is required
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput required formControlName="subHeader" placeholder="Enter sub header" /> <mat-hint
            *ngIf="firmForm.get('subHeader')?.hasError('required') && firmForm.get('subHeader')?.touched"
            class="error-message error-color">
            sub header is required
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput required formControlName="address" placeholder="Enter Address" />
          <mat-hint *ngIf="firmForm.get('address')?.hasError('required') && firmForm.get('address')?.touched"
            class="error-message error-color">
            address is required
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput formControlName="GSTNo" placeholder="GST No" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="number" matInput formControlName="gstPercentage" placeholder="GST Percentage" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput formControlName="panNo" placeholder="Pan no" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="number" matInput  required
            formControlName="mobileNo" placeholder="Mobile no" />
          <mat-hint *ngIf="firmForm.get('mobileNo')?.hasError('required') && firmForm.get('mobileNo')?.touched"
            class="error-message error-color">
            mobile no is required
          </mat-hint>
          <mat-hint *ngIf="firmForm.get('mobileNo')?.hasError('pattern') && firmForm.get('mobileNo')?.touched"
            class="error-message error-color">
           Invalid mobile no is required
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="number" matInput 
            formControlName="personalMobileNo" placeholder="Personal mobile no" />
            <mat-hint *ngIf="firmForm.get('personalMobileNo')?.hasError('required') && firmForm.get('personalMobileNo')?.touched"
            class="error-message error-color">
            mobile no is required
          </mat-hint>
          <mat-hint *ngIf="firmForm.get('personalMobileNo')?.hasError('pattern') && firmForm.get('personalMobileNo')?.touched"
            class="error-message error-color">
           Invalid mobile no is required
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput formControlName="bankName" placeholder="Bank name" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="text" matInput formControlName="ifscCode" placeholder="IFSC code" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
          <input type="number" matInput formControlName="bankAccountNo" placeholder="Bank account no" />
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="p-24 justify-content-end" >
      <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-flat-button [mat-dialog-close]="true" [disabled]="!firmForm.valid" color="primary" (click)="doAction();">
        {{action}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">
      {{action}}
    </button>
    <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">Cancel</button>
  </div>
</ng-template>