<div class="row justify-content-center">
  <div class="col-lg-8 text-center">
    <mat-card-title class="d-block f-s-24 m-b-8"
      >Frequently asked questions</mat-card-title
    >
    <mat-card-subtitle class="mat-body-1 m-b-30 p-b-12 d-block f-s-16"
      >Get to know more about ready-to-use admin dashboard
      templates</mat-card-subtitle
    >

    <mat-accordion>
      <mat-expansion-panel class="cardWithShadow">
        <mat-expansion-panel-header>
          <mat-panel-title class="f-w-600 mat-body-1">
            What is an Admin Dashboard?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mat-body-1 text-left">
          Admin Dashboard is the backend interface of a website or an
          application that helps to manage the website's overall content and
          settings. It is widely used by the site owners to keep track of their
          website, make changes to their content, and more.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="cardWithShadow">
        <mat-expansion-panel-header>
          <mat-panel-title class="f-w-600 mat-body-1">
            What should an admin dashboard template include?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mat-body-1 text-left">
          Admin dashboard template should include user & SEO friendly design
          with a variety of components and application designs to help create
          your own web application with ease. This could include customization
          options, technical support and about 6 months of future updates.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="cardWithShadow">
        <mat-expansion-panel-header>
          <mat-panel-title class="f-w-600 mat-body-1">
            Why should I buy admin templates from AdminMart?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mat-body-1 text-left">
          Adminmart offers high-quality templates that are easy to use and fully
          customizable. With over 101,801 happy customers & trusted by 10,000+
          Companies. AdminMart is recognized as the leading online source for
          buying admin templates.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="cardWithShadow">
        <mat-expansion-panel-header>
          <mat-panel-title class="f-w-600 mat-body-1">
            Do Adminmart offers a money back guarantee?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mat-body-1 text-left">
          There is no money back guarantee in most companies, but if you are
          unhappy with our product, Adminmart gives you a 100% money back
          guarantee.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-lg-10 m-t-30 p-t-30">
    <mat-card class="bg-light-primary cardWithShadow">
      <mat-card-content class="p-y-24 text-center">

        <div class="avatar-group">
            <img src="/assets/images/profile/user-1.jpg" alt="user1" class="rounded-circle" width="40" />
            <img src="/assets/images/profile/user-2.jpg" alt="user2" class="rounded-circle" width="40" />
            <img src="/assets/images/profile/user-3.jpg" alt="user3" class="rounded-circle" width="40" />
        </div>


        <h4 class="f-s-20 f-w-600 m-y-12">Still have questions</h4>
        <span class="d-block m-b-16"
          >Can't find the answer your're looking for ? Please chat to our
          friendly team.</span
        >
        <button mat-flat-button color="primary">Chat with us</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
