<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Gredient Chart</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <apx-chart
      [series]="gredientChartOptions.series"
      [chart]="gredientChartOptions.chart"
      [stroke]="gredientChartOptions.stroke"
      [xaxis]="gredientChartOptions.xaxis"
      [fill]="gredientChartOptions.fill"
      [markers]="gredientChartOptions.markers"
      [yaxis]="gredientChartOptions.yaxis"
      [plotOptions]="gredientChartOptions.plotOptions"
      [tooltip]="gredientChartOptions.tooltip"
      [grid]="gredientChartOptions.grid"
    >
    </apx-chart>
  </mat-card-content>
</mat-card>
