<app-top-cards></app-top-cards>

<div class="row">
  <div class="col-lg-8">
    <app-revenue-updates></app-revenue-updates>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-12">
        <app-yearly-breakup></app-yearly-breakup>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <app-monthly-earnings></app-monthly-earnings>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-employee-salary></app-employee-salary>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-sm-6">
        <app-customers></app-customers>
      </div>
      <div class="col-sm-6">
        <app-projects></app-projects>
      </div>
      <div class="col-12">
        <app-social-card></app-social-card>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-selling-product></app-selling-product>
  </div>
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-8">
    <app-top-projects></app-top-projects>
  </div>
</div>
