/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-text {
    color: red;
}

.required {
    color: red;
}

.mat-mdc-table .mdc-data-table__row{
    height: 40px !important;
}

.table-responsive td, .table-responsive mat-cell {
    padding: 6px !important;
}