<h2 mat-dialog-title class="m-b-24 b-b-1 p-b-20">{{'actions.' + action | translate}} {{'PartyMasterdialog.Party' | translate}}</h2>
<mat-dialog-content class="mat-typography" style="max-width: 600px" *ngIf="action !== 'Delete'; else elseTemplate" >
  <form [formGroup]="partyForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput required formControlName="partyName" placeholder="{{'PartyMasterdialog.PartyName' | translate}}" />
          <mat-hint *ngIf="partyForm.get('partyName')?.hasError('required') && partyForm.get('partyName')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.Partynameisrequired' | translate}}
          </mat-hint>
          <mat-hint *ngIf="partyForm.get('partyName')?.hasError('pattern') && partyForm.get('partyName')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.Pleaseentervalidpartyname' | translate}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput required formControlName="partyAddress" placeholder="{{'PartyMasterdialog.Partyaddress' | translate}}" />
          <mat-hint *ngIf="partyForm.get('partyAddress')?.hasError('required') && partyForm.get('partyAddress')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.Partyaddressisrequired' | translate}}
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput formControlName="partyGSTIN" placeholder="{{'PartyMasterdialog.PartyGSTIN' | translate}}" />
          <mat-hint *ngIf="partyForm.get('partyGSTIN')?.hasError('pattern') && partyForm.get('partyGSTIN')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.InvalidGstisrequired' | translate}}
          </mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput required formControlName="partyChalanNoSeries" placeholder="Chalan no series" />
          <mat-hint
            *ngIf="partyForm.get('partyChalanNoSeries')?.hasError('required') && partyForm.get('partyChalanNoSeries')?.touched"
            class="error-message error-color">
            chalan no series is required
          </mat-hint>
        </mat-form-field>
      </div> -->
      <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100 m-t-10">
          <mat-select value="no" formControlName="isFirm" placeholder="{{'PartyMasterdialog.Selectafirm' | translate}}">
              <mat-option *ngFor="let item of firmList" [value]="item">{{item.header}}</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput formControlName="partyPanNo" placeholder="{{'PartyMasterdialog.Partypanno' | translate}}" />
            <mat-hint *ngIf="partyForm.get('partyPanNo')?.hasError('pattern') && partyForm.get('partyPanNo')?.touched"
              class="error-message error-color">
              {{'PartyMasterdialogerror.InvalidpanNoisrequired' | translate}}
            </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="number" matInput 
            formControlName="partyMobile" placeholder="{{'PartyMasterdialog.Partymobile' | translate}}"  min="0" />
            <mat-hint *ngIf="partyForm.get('partyMobile')?.hasError('required') && partyForm.get('partyMobile')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.Mobilenoisrequired' | translate}}
          </mat-hint>
          <mat-hint *ngIf="partyForm.get('partyMobile')?.hasError('pattern') && partyForm.get('partyMobile')?.touched"
            class="error-message error-color">
            {{'PartyMasterdialogerror.Invalidmobilenoisrequired' | translate}}
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="p-24 justify-content-end">
      <button mat-stroked-button color="warn" mat-dialog-close>{{'PartyMasterdialog.Cancel' | translate}}</button>
      <button mat-flat-button [mat-dialog-close]="true" [disabled]="!partyForm.valid" color="primary" (click)="doAction();">
        {{'actions.' + action | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>{{'PartyMasterdialog.Suretodelete' | translate}} <span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">
      {{'actions.' + action | translate}}
    </button>
    <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">{{'PartyMasterdialog.Cancel' | translate}}</button>
  </div>
</ng-template>