<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div style="align-items: baseline;" class="row">

            <div class="col-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <mat-label>Expenses</mat-label>
                    <input matInput placeholder="Search expenses" (keyup)="applyFilter($any($event.target).value)">
                    <mat-icon matSuffix>
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-4"></div>
            <div class="col-2">
                <button mat-flat-button color="primary" (click)="openExpensesmaster('Add',{})">Expenses Master</button>
            </div>

            <div class="col-2">
                <button mat-flat-button color="primary" (click)="openExpenses('Add',{})">
                    Add Expenses
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="ExpensesListDataSource" class="w-100">

                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{getSerialNumber(i) }}</td>
                </ng-container>

                <ng-container matColumnDef="expenses">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                    Expenses Type
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.expensesname }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="creditDate">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Credit Date
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ convertTimestampToDate(element.creditDate) | date : "mediumDate" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Description
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.description }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Amount
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.amount }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="edit" class="icon-18" (click)="openExpenses('Edit', element)"></i-tabler>
                        </a>
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" class="icon-18" (click)="openExpenses('Delete', element)"></i-tabler>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="expensesDataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: expensesDataColumns"></tr>
                <tr class="mat-row" style="text-align: center;" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="expensesDataColumns.length">
                        No record found
                    </td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>